**/*.a
**/*.la
**/*.lo
**/*.loh
**/*.stamp
**/*.o
Makefile
bfd/.libs/
bfd/Makefile
bfd/config.cache
bfd/config.h
bfd/config.log
bfd/config.status
bfd/doc/.dirstamp
bfd/doc/chw34172.dSYM/
bfd/libtool
bfd/po/BLD-POTFILES
bfd/po/Makefile
bfd/po/Makefile.in
bfd/po/SRC-POTFILES
bfd/stamp-h1
bfd/stamp-ofiles
binutils/Makefile
binutils/bfdtest1
binutils/bfdtest2
binutils/config.cache
binutils/config.h
binutils/config.log
binutils/config.status
binutils/doc/.dirstamp
binutils/libtool
binutils/po/Makefile
binutils/po/Makefile.in
binutils/po/POTFILES
binutils/stamp-h1
binutils/testsuite/.deps/
binutils/testsuite/.dirstamp
binutils/testsuite/gentestdlls
config.log
config.status
etc/Makefile
etc/config.cache
etc/config.log
etc/config.status
gas/.gdbinit
gas/Makefile
gas/config.cache
gas/config.h
gas/config.log
gas/config.status
gas/config/.deps/
gas/config/.dirstamp
gas/doc/.dirstamp
gas/libtool
gas/po/Makefile
gas/po/Makefile.in
gas/po/POTFILES
gas/stamp-h1
gprof/Makefile
gprof/config.cache
gprof/config.log
gprof/config.status
gprof/libtool
gprof/po/Makefile
gprof/po/Makefile.in
gprof/po/POTFILES
gprof/stamp-h1
ld/.libs/
ld/Makefile
ld/autom4te.cache/
ld/config.cache
ld/config.h
ld/config.log
ld/config.status
ld/libtool
ld/po/BLD-POTFILES
ld/po/Makefile
ld/po/Makefile.in
ld/po/SRC-POTFILES
ld/stamp-h1
libctf/Makefile
libctf/config.cache
libctf/config.h
libctf/config.log
libctf/config.lt
libctf/config.status
libctf/libtool
libctf/stamp-h1
libiberty/Makefile
libiberty/config.cache
libiberty/config.h
libiberty/config.log
libiberty/config.status
libiberty/stamp-h
libiberty/stamp-noasandir
libiberty/stamp-picdir
libiberty/testsuite/Makefile
libsframe/Makefile
libsframe/config.cache
libsframe/config.h
libsframe/config.log
libsframe/config.status
libsframe/libtool
libsframe/stamp-h1
opcodes/.libs/
opcodes/Makefile
opcodes/config.cache
opcodes/config.h
opcodes/config.log
opcodes/config.status
opcodes/libtool
opcodes/po/Makefile
opcodes/po/Makefile.in
opcodes/po/POTFILES
opcodes/stamp-h1
opcodes/stamp-lib
zlib/Makefile
zlib/config.cache
zlib/config.log
zlib/config.status
zlib/libtool
